.fullscreen{
  height: 100vh;
}

.carousel-caption{
  top: 0;
  bottom: auto
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.axis text {
  cursor: move;
  fill: #ffffff;
}
