#container-main{
  height: 100vh;
}

#container-center{
  height: 100vh;
}

#row-map{
  height: 70vh;
}

#row-time{
  height: 30vh;
}

#row-tag{
  height: 30vh;
}

#row-time-slider{
  height: 30vh;
}

#row-vote-slider{
  height: 30vh;
}

#slider-div-vote{
  width: 80%;
}

#slider-div-time{
    width: 60%;
    margin-left: 10px
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
