.fullscreen {
  height: 100vh;
}

.carousel-caption {
  top: 0;
  bottom: auto
}

#table-user-classes{
  height: 45vh;
}

#div-chart-contrib{
  position: relative;
  height: 30vh
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.userground path {
  fill: none;
  stroke: #0f0;
  shape-rendering: crispEdges;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}

.axis text {
  cursor: move;
  fill: #ffffff;
}

.slider {
  width: 90% !important;
}

#SliderEvol{
  margin-left: 50px
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: Futura;
  font-size: 16px;
  line-height: 20px;
}

#value-a-0, #value-a-1, #value-a-2, #value-a-3, #value-a-4,
#value-q-0, #value-q-1, #value-q-2, #value-q-3, #value-q-4, .mytext {
  color: black;
}

.rect-color {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.color-q-4{
  background: #fee5d9;
}

.color-q-3{
  background: #fcae91;
}

.color-q-2{
  background:#fb6a4a;

}

.color-q-1{
  background:#de2d26;

}

.color-q-0{
  background:#a50f15;

}

.color-a-0{
  background:#08519c;

}

.color-a-1{
  background:#3182bd;

}

.color-a-2{
  background:#6baed6;

}

.color-a-3{
  background:#bdd7e7;

}

.color-a-4{
  background:#eff3ff;

}

.legends{
  margin-left: 50px
}

.country-name {
    margin: 0 !important;
}
.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

#div-cordinates{
  height: 50vh
}

#div-stream{
  height: 50vh
}
